html,
body {
  /* height: 100%; */
  /* width: 100% !important;
  margin: 0; */
  overflow: hidden;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2c3e50;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
}

canvas,
video {
  display: block;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  object-fit: contain !important;
}

@font-face {
  font-family: "UrbanSlick";
  src: url("./public/assets//fonts/Urban_slick.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DonGraffiti";
  src: url("./public/assets//fonts/DonGraffiti.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

h1 {
  text-shadow: 2px 2px 2px #333;
  /* letter-spacing: 0.2em; */
  margin-top: 50px;
  font-family: "UrbanSlick", sans-serif;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  letter-spacing: 0.15em;
  font-family: "DonGraffiti", sans-serif;
  background-color: #2980b9;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}

#ar-button {
  background-color: #3498db;
}

#sobre-button {
  background-color: #2ecc71;
}

.button-icon {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.icon-ar {
  background-image: url("./public//assets/icons/ar.svg");
  background-repeat: no-repeat;
  background-size: contain;
  fill: #ffffff;
  height: 4rem;
  width: 4rem;
}

.icon-sobre {
  background-image: url("./public//assets/icons/info.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 4rem;
  width: 4rem;
}

.button-sizing {
  display: inline-block;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.button-sizing button {
  display: inline-block;
  width: auto;
}

#ar-button,
#sobre-button {
  width: auto;
}

.conteudo {
  display: flex; /* Usar flexbox para centralizar conteúdo */
  justify-content: center; /* Centralizar horizontalmente */
  align-items: center; /* Centralizar verticalmente */
  flex-direction: column; /* Alinhar os itens verticalmente */
}

/* smartphones */
@media screen and (max-width: 767px) {
  h1 {
    font-size: 3em; /* equivalente a 24px */
  }

  button {
    font-size: 2em;
  }

  .logo {
    width: 100%;
    height: 100%;
  }

  .conteudo {
    padding: 40px;
  }

  #intro {
    background-position: -160px;
  }

  #ar-button {
    margin-bottom: 120%;
  }
}

/* tablets */
@media screen and (min-width: 768px) and (orientation: landscape) {
  h1 {
    font-size: 6em; /* equivalente a 32px */
  }

  button {
    font-size: 3em;
  }

  .logo {
    width: 130%;
    height: 130%;
    padding-bottom: 0%;
  }
  .conteudo {
    padding: 200px;
    align-items: center;
    justify-content: center;
  }

  #intro {
    background-position: 0px;
  }

  #ar-button {
    margin-bottom: 10%;
  }
}

/* animações */
.psicodelico {
  background: linear-gradient(45deg, #ff00ff, #00ffff, #001aff, #ff0073);
  background-size: 600% 600%;
  animation: gradient 10s ease infinite;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.psicodelico::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  top: 0;
  left: 0;
  opacity: 0.5;
  filter: blur(20px);
  z-index: -1;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*  */

.div-center {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* */

.ar-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
}

.arjs-loader {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arjs-loader-spinner {
  z-index: 10;
  -webkit-transform: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border: 3px solid #ddd;
  border-top: 3px solid #42a5f5;
  border-radius: 50%;
  height: 75px;
  width: 75px;
}

@-webkit-keyframes spin {
  to {
    border-top-color: #42a5f5;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    border-top-color: #42a5f5;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
